/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 6px 6px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 6px 6px);
}

.art-Sheet-bl
{
	clip: rect(6px 6px auto auto);
}

.art-Sheet-br
{
	clip: rect(6px auto auto 6px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 6px auto);
}

.art-Sheet-bc
{
	clip: rect(6px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 6px);
}

.art-Sheet-cl
{
	clip: rect(auto 6px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.art-nav .r
{	clip: rect(auto auto auto 958px);
}
/* end Menu */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 402px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 6px 6px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 6px 6px);
}

.art-Block-bl
{
	clip: rect(6px 6px auto auto);
}

.art-Block-br
{
	clip: rect(6px auto auto 6px);
}

.art-Block-tc
{
	clip: rect(auto auto 6px auto);
}

.art-Block-bc
{
	clip: rect(6px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 6px);
}

.art-Block-cl
{
	clip: rect(auto 6px auto auto);
}
/* end Box, Block */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 405px);
}
/* end Button */

